body{
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0;
    padding: 0;
    display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dvi{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #bebebe; */
}